body{
    font-family: 'Roboto', Helvetica, sans-serif;
    letter-spacing: 0.08em;
}
h1 {
    color: #3a5dbf;
}
h1, h3, h4, p, a {
    margin:0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #808080;
}
.container {
    width: 75%;
    /* min-width: 768px; */
    /* width: 90%; */
    margin: 0 auto;
    border: 2px solid #e3e3e3;  
    /* padding: 16px; */
    display: flex;
    /* flex-direction: column; */
    /* box-shadow: 0px 5px 10px #808080; */
}
.leftpane {
    flex:40%;
    padding-top: 16px;
    background-color: #e3e3e3;
    /* border-right: 2px solid #e3e3e3; */
    border: 2px solid #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    color:#808080;
}
.profilephoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.rightpane {
    flex:60%;
    /* background-color: #cccccc; */
    
    /* padding-top: 16px; */
    /* background-color: #e3e3e3; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    padding-top: 16px;
}
.title {
    color: #3a5dbf;
    padding-bottom: 40px;
}
.heading {
    padding-top: 32px;
    padding-bottom: 16px;
}
.heading-right {
    padding-top: 16px;
    padding-bottom: 16px;
}
.underline {
    width: 80%;
    border-bottom: 1px solid #808080;
    margin-bottom: 16px;
}
.leftContent {
    width: 90%;
    text-align: justify;
    line-height: 1.4em;
    font-size: 1.0em;
    overflow-wrap: break-word;
}
.icon {
    color: #808080;
    margin-right: 8px;
}
.social {
    padding-top: 24px;
    display: flex;
    justify-content: space-around;
}

.social p {
    width: 100%;
    text-align: center;
}

.rightContent {
    width: 90%;
    text-align: justify;
    line-height: 1.4em;
    font-size: 1.0em;
    overflow-wrap: break-word;
}
.experience {
    padding-bottom: 32px;
}
.company {
    color: #808080;
    font-size: 0.9em;
    margin-bottom: 16px;
}

.fa-linkedin {
    color: #0976b4;
}
.fa-stack-overflow {
    color: #fe7a15;
}
.fa-twitter {
    color: #55acee;
}
.fa-envelope, .fa-phone {
    color: black;
}
.downloadbtn {
    color: #3a5dbf;
    position: fixed;
    bottom: 64px;
    right: 64px;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        flex-wrap: wrap;
    }
    .leftpane, .rightpane {
      width: 100%;
      background-color: #e3e3e3;
    }
    .downloadbtn {
        bottom: 16px;
        right: 16px;
    }
}